<!-- app/views/lists/index.html.erb -->
<h1 class="page-title">All Lists</h1>

<ul class="lists">
  <% @lists.each do |list| %>
    <li class="list-item">
      <%= link_to list.name, list_path(list), class: "list-link" %>
    </li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path, class: "new-list-button" %>

